<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div th:fragment="styles-connect">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  property=""/>
    <link rel="icon" href="../../static/img/favicon.ico" th:href="@{../../static/img/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/style/bootstrap.css" th:href="@{../../style/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/style/main-page.css" th:href="@{../../style/main-page.css}"/>
    <link rel="stylesheet" href="../../static/style/style.css" th:href="@{../../style/style.css}"/>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" th:href="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="/js/bootstrap-carousel.js" th:href="@{bootstrap-carousel.js}"></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</div>
</body>
</html>