<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{coffee.choose}"></title>
    <div th:include="fragments/styles-connect :: styles-connect"></div>
</head>
<body>
<header>
    <div th:include="fragments/header :: header"></div>
</header>
<div class="content">
    <div class="container">
        <div class="row">
            <div th:replace="fragments/user :: leftbar"></div>
            <section>
                <div class="col-xs-9">
                    <div class="category">
                        <ol class="breadcrumb catalog-breadcrumb">
                            <li><a th:href="@{/}" th:text="#{header.home}"></a></li>
                            <li th:text="#{header.coffee}"></li>
                        </ol>
                        <div th:replace="fragments/user :: header-text"></div>
                        <div th:replace="fragments/user :: sorting"></div>
                        <div th:replace="fragments/user :: show-coffee"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
